
* html #wrap{
    width: 100%;
    height: 100%;
}
* html #header{
    height: 13%;
}
* html #container{
    height: 70%;
}
* html #sidebar{
    height: 70%;
}
* html #footer{
    height: 3%;
}
* html .group{
    /*IE6*/
    height: 1%;
}
*first-child+html.group{
    /*IE7*/
    min-height: 1px;
}
