/* фон */
body{
   
    background-image: url(images/labirint.png);
    font-family: Georgia,'Times New Roman',times,serif;
    font-size: 100%;
    color: #444;
    
}
body, html{
    height: 100%;
}
/* ссылки */
a:link, a:visited{
    color: #369;
    outline: none;
}
a:hover{
    color: #36c;
}
/* структура страницы */
/*общий контейнер для всего */
#outer{
    margin: 0 auto;
    max-width: 77em;
    height: 100%;
}
#wrap{
    width: 100%;
    min-height: 100%;
}
/* все, что мы увидим */

/* блоки с закругленными углами */
.radiusblock{
     border-radius: 5px;
     border: 1px #e1e1e1 solid;
     -webkit-border-radius: 5px;
     -moz-border-radius: 5px;
}
/*добавить стили (цвета) для IE */
#header{
    width: 100%;
    min-height: 5em;
    margin-bottom: 1em;   
    background: rgba(153, 255, 153, 0.4); 
  
}
#container{
    
    width: 68%;
    float: left;
    min-height: 80%;
    background: rgba(187, 255, 245, 0.5);
   
}
#sidebar{
    width: 30%;
    float: right;
    min-height: 80%;
    background: rgba(229, 204, 255, 0.5);
    
}
#footerpalce{
    height: 3em;
}

#footer{
    width:100%;
    clear:both;
    height: 3em;
    margin-top: -3em;
    background: rgba(255, 204, 153, 0.5);   
}
/* содержимое header */

/* вспомошательные отладочные классы */

.inborder{
    border: 2px #444 solid;
}
/* самоочитска плавающих элементов */
.group:after{
    content: ".";
    display: block;
    height: 0;
    clear: both;
    visibility: hidden;
}